<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>救救李希侃-小米账号</title>
  </head>
  <body>
    <h1>救救李希侃-小米账号</h1>
    <div id='captcha' style='display: none'>
      <img src="lxk2.jpg" width="150" height="50" id='codeimg'>
      输入验证码
      <input id='codeinput'></input>
      <textarea id='message' style='width:400px;height:600px;float:right;position:absolute;top:0;right:0;' readonly></textarea>
    </div>
    <textarea id='raw_data' placeholder="将文件内容复制至此"></textarea>
    <button id='start_btn' value='开始'></button>
    <script src="jquery-3.3.1.min.js"></script>
    <script src="renderer.js"></script>
  </body>
</html>
